<?xml version="1.0" ?>
<launch>
    <node pkg="nasa_robot_teleop" type="interactive_control.py" name="interactive_control" output="screen"> 
		<param name="robot" value="atlas"/>
		<param name="planner_type" value="atlas"/>
		<param name="navigation_frame" value="/ground"/>
		<param name="group_config_file" value="$(find nasa_robot_teleop)/config/atlas.yaml"/>
		<param name="planner_config_file" value="$(find atlas_moveit_config)/config/atlas.srdf"/>
		<param name="tolerance_config_file" value="$(find nasa_robot_teleop)/config/tolerance.yaml"/>
    </node>
</launch>