<?xml version="1.0" ?>
<launch>
    <arg name="robot"              default="pr2" />
    <arg name="config"             default="pr2_moveit_config" />
    <arg name="manipulator_groups" default="left_arm right_arm" />
    <arg name="joint_groups"       default="head" />
    <arg name="gripper_service"    default="/pr2_gripper_bridge/end_effector_command" />
    <node pkg="nasa_robot_teleop" type="robot_teleop.py" name="robot_teleop" args="-r $(arg robot) -m $(arg manipulator_groups) -j $(arg joint_groups) -c $(arg config) -g $(arg gripper_service)" output="screen" />
</launch>